<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="css/style.css"> 
    <script src="js/modernizr.js"></script> 
    <style type="text/css">
        td {
            border: 1px solid gray;
        }
        .wrapper {
            width: 960px;
            margin: 0 auto;
            text-align: center;

        }

        .footerdiv {
            margin: 15px auto;
            background: gray;
            width: 40%;
            padding: 10px;
        }

        .footerdiv a, .createnew a {
          color: white;
        }

        .filterswrapper div {
            width: 33%;
            height: 50px;
            background: gray;
            display: inline-block;
            padding: 10px;
            color: white;
            margin-top: 10px;
        }

        .filterswrapper div a {
            color: white;
        }

        .createnew {
            margin: 15px auto;
            background: green;
            width: 40%;
            padding: 10px;
        }
        .usertable {
            width: 80%;
            padding: 10px;
            text-align: center;
            margin: 0 auto;
        }
    </style>
    <title>Users admin panel</title>
</head>
<body>
    <header>
    <h1>Admin of life the universe and everything</h1>
</header>
<section class="wrapper">
<!--<div class="filterswrapper">
    <div><a href="?c=question&a=handleContent">Show all</a></div>
    <div><a href="?c=question&a=getUnanswered">Show unanswered</a></div>
    <div>
        <form class="sortcategory" action="?c=question&a=findCat" method="post">
            <label>In category</label>
            <select name="category"> 
            {% for item in categories %}
                <option value="{{item.category}}">{{item.category}}</option>
            {% endfor %}
            </select>
            <input type="submit" name="submit" value="Send">
    </div>
</div>-->
<table class="usertable">
		<caption>Users</caption>
            <tr>
            	<td>ID</td>
                <td>Login</td>
                <td></td>
                <td></td>
            </tr>
                            {% for item in users%}
            <tr>

            	<td>{{item.user_id}}</td>
                <td>{{item.login}}</td>
                <td><a href="?c=auth&a=updateUser&id={{item.id_user}}">Set new password</a></td>
                <td><a href="?c=auth&a=deleteUser&id={{item.id_user}}">Delete</a></td>
            </tr>
                     {% endfor %}
	</table>
    <div class="createnew"><a href="?c=auth&a=registerNew">Create new user</a></div>
        <div class="footerdiv"><a href="?c=auth&a=manage">Вернуться назад</div>
    <div class="footerdiv"><a href="?c=auth&a=logout">Разлогиниться</a></div>
</section>
</body>